<ion-view title="Album" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="album2-button-bar4" class="button-bar">
      <a ui-sref="album()" id="album2-button20" class="button button-positive button-block">곡리스트</a>
      <button id="album2-button21" class="button button-positive button-block">앨범수정</button>
      <a ui-sref="player()" id="album2-button22" class="button button-positive button-block">음악감상</a>
    </div>
    <ion-list id="album2-list37">
      <ion-item class="item-thumbnail-left" id="album2-list-item31">
        <h2>드럼 + 베이스</h2>
        <p>nahoom x nahoom</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="album2-list-item32">
        <h2>드럼 + 베이스</h2>
        <p>nahoom x nahoom</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="album2-list-item33">
        <h2>드럼 + 베이스</h2>
        <p>nahoom x nahoom</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="album2-list-item34">
        <h2>드럼 + 베이스</h2>
        <p>nahoom x nahoom</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="album2-list-item35">
        <h2>드럼 + 베이스</h2>
        <p>nahoom x nahoom</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>