<ion-view title="BandChallenge" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="bandChallenge-button-bar1" class="button-bar">
      <button id="bandChallenge-button5" class="button button-positive button-block">週間 100</button>
      <button id="bandChallenge-button6" class="button button-positive button-block">月間 100</button>
      <button id="bandChallenge-button7" class="button button-positive button-block">レジェンド</button>
    </div>
    <form id="bandChallenge-form4" class="list">
      <label class="item item-select" id="bandChallenge-select2">
        <span class="input-label">選択</span>
        <select>
          <option>全体</option>
          <option>映像だけ</option>
        </select>
      </label>
    </form>
    <ion-list id="bandChallenge-list25">
      <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item13" ui-sref="menu.Recording()">
        <img src="img/brj729EfQXSAUSAhT8tA__.PNG">
        <h2assertive>1 레드벨벳-빨간 맛 {{rank.albumObj}}
          <p style="white-space:normal;">앗! 보라색 맛 났어!</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item14">
        <img src="img/py3DcCFSSieTEYuosfaw__.PNG">
        <h2assertive>2 헤이즈-비도 오고 그래서
          <p style="white-space:normal;">여름 장마철에 분위기있게!</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/에너제틱-Wanna One(위너원).PNG">
        <h2assertive>4 에너제틱-Wanna One(위너원)
          <p>에너지 넘치는 에너제틱을 받아랏!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/N분의1.PNG">
        <h2assertive>5 N분의1-넉살, 한해, 라이노, 조우찬(feat.다이나믹듀오)
          <p>야 진짜 넉살 좋지 않냐</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
         <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
       <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item> <ion-item class="item-thumbnail-left assertive" id="bandChallenge-list-item15">
        <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
        <h2assertive>3 Zico-Artist
          <p>지아코 아티스트!</p>
        </h2assertive>
      </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>