<ion-view title="Center" id="page18">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="center-card24">
      <ion-item class="item-avatar" id="center-list-item65" ui-sref="menu.Recording()">
        <img src="img/f42DnGlZQ2ubbAUyGBmU_user011.png">
        <h2>그리스에서.. 아시아 사람과 함께 합주를 해 보았습니다...^^</h2>
        <p>사용악기 : 신디사이저</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/PCFGQIHQhqywDXBtx90A_hqdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="center-list-item-container10">
        <div id="center-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Asia, Europe</p>
        </div>
      </div>
      <ion-item id="center-list-item66">2017-06-21 01:19:37</ion-item>
    </div>
  </ion-content>
</ion-view>