<ion-view title="Guild" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/JozQMxMWRJC6iVbca4WG_guild.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="guild-list38">
      <ion-item class="item-thumbnail-left" id="guild-list-item36" ui-sref="menu.laravel()">
        <img src="img/JYhsnxnjTfiyZcW2DbXG_Laravel.jpg">
        <h2>Laravel</h2>
        <p>MASTER : user</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="guild-list-item38" ui-sref="menu.test()">
        <img src="img/lR21Y8DR22DUiQep4xnL_microphone.png">
        <h2>Test</h2>
        <p>MASTER : God</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="guild-list-item37" ui-sref="menu.page15()">
        <img src="img/HiZKSMTtR0SNdNq9ArKM_trumbon_icon.png">
        <h2>슈비슈비코코밤</h2>
        <p>MASTER : Center</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="guild-button-bar6" class="button-bar">
      <button id="guild-button26" class="button button-positive button-block">ギルドメイン</button>
      <a ui-sref="menu.page16()" id="guild-button27" class="button button-positive button-block">ギルド創設</a>
    </div>
  </ion-content>
</ion-view>