<ion-view title="Laravel" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="laravel-container9">
      <div>
        <img src="img/mKjpAy4QRQquVvZC9yIy_Laravel.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <ion-list id="laravel-list39">
      <ion-item id="laravel-list-item39">길드명 : Laravel</ion-item>
      <ion-item id="laravel-list-item40">마스터 : user</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <div id="laravel-container10">
      <h2 id="laravel-heading10" style="color:#000000;text-align:center;">길드 소개글</h2>
      <form id="laravel-form6" class="list">
        <label class="item item-input guild-textarea" id="laravel-textarea1">
          <span class="input-label">안녕하세요 친목길드입니다.</span><textarea placeholder=""></textarea></label>
      </form>
    </div>
    <div id="laravel-button-bar7" class="button-bar">
      <button id="laravel-button34" ng-click="pop()" class="button button-positive button-block">길드 가입 신청</button>
    </div>
  </ion-content>
</ion-view>