<ion-view title="matching result" id="page17">
  <ion-content padding="true" class="has-header">
    <h4 id="matchingResult-heading24" style="color:#000000;text-align:center;">音楽ジャンル選好は、「Dance」であり、 </h4>
    <h4 id="matchingResult-heading25" style="color:#000000;text-align:center;">楽器選好は「ドラム」です。</h4>
    <div>
      <img src="img/SfriMdJbSLiGmG0dCGUB_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="matchingResult-form10" class="list">
      <h4 id="matchingResult-heading22" style="color:#000000;text-align:center;">好みが合う合奏者</h4>
      <label class="item item-select" id="matchingResult-select4">
        <span class="input-label"></span>
        <select>
          <option>楽器別</option>
          <option>ジャンル別</option>
          <option>楽器 + ジャンル別</option>
        </select>
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="matchingResult-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="matchingResult-slide214" class="matching_result">
        <div class="list card" id="matchingResult-card23">
          <ion-item class="item-avatar" id="matchingResult-list-item55" ui-sref="menu.center()">
            <img src="img/HGwp2cnPRdeNxU8eC2Cs_Center.png">
            <h2>Center</h2>
            <p>ピアノ / ダンス</p>
          </ion-item>
          <ion-item class="item-avatar" id="matchingResult-list-item57">
            <img src="img/pz6DAQIdTAWi7ilL7Zjp_Mix.png">
            <h2>Mix</h2>
            <p>ギター / ロック</p>
          </ion-item>
        </div>
      </ion-slide-page>
      <ion-slide-page id="matchingResult-slide215" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="matchingResult-slide216" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h4 id="matchingResult-heading23" style="color:#000000;text-align:center;">nahoom様とお好みが合う音源</h4>
    <form id="matchingResult-form11" class="list">
      <label class="item item-select" id="matchingResult-select5">
        <span class="input-label"></span>
        <select>
          <option>ポップ</option>
          <option>ロック</option>
          <option>クラシック</option>
          <option>ダンス</option>
        </select>
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="matchingResult-slider4" style="width:100%;height:200px;">
      <ion-slide-page id="matchingResult-slide220">
        <ion-list id="matchingResult-list44">
          <ion-item class="item-thumbnail-left" id="matchingResult-list-item59" ui-sref="menu.player()">
            <img src="img/qbppwaC3RZanDPNYyrxy_joy.jpg">
            <h2>TouchBy Touch</h2>
            <p>作曲 : Joy / ジャンル : POP</p>
          </ion-item>
          <ion-item class="item-thumbnail-left" id="matchingResult-list-item60">
            <img src="img/Yg1H9vkShWAdh8wu1oYQ_HEYJUDES.jpg">
            <h2>TheBeatlesHey</h2>
            <p>ビートルズ</p>
          </ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page id="matchingResult-slide221" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="matchingResult-slide222" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>