<ion-view title="길드창설" id="page16">
  <ion-content padding="true" class="has-header">
    <h3 id="page16-heading13" style="color:#000000;">ギルド 創設者 : nahoom様</h3>
    <h5 id="page16-heading14" style="color:#000000;">創設のために、以下を入力してください。</h5>
    <div id="page16-container15">
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <h3 id="page16-heading15" style="color:#000000;">ギルド名 </h3>
      <form id="page16-form9" class="list">
        <label class="item item-input" id="page16-input3">
          <span class="input-label">ギルド名を入力してください。</span>
          <input type="text" placeholder="">
        </label>
        <h3 id="page16-heading16" style="color:#000000;">ギルドマーク </h3>
        <button id="page16-button37" style="font-size:-1px;" class="button button-dark button-small button-block">ファイル選択</button>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <h4 id="page16-heading17" style="color:#000000;">※注意事項※</h4>
        <h5 id="page16-heading18" style="color:#000000;">ギルド創設は合奏曲100曲以上のユーザーのみ可能です。創設後1週間は、ギルドを終了することができません。解約時ギルド情報は3日間保管され、この期間が経過すると回復が不可能です。</h5>
      </form>
    </div>
    <a ui-sref="menu.guild()" id="page16-button38" style="font-size:-1px;" class="button button-positive button-large button-block">ファイル創設</a>
  </ion-content>
</ion-view>