<ion-view title="お好み楽器" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="page5-heading19" style="color:#000000;text-align:center;">使用者プロフィール</h3>
    <div class="list card" id="page5-card22">
      <div class=" item item-image">
        <img src="img/rX02RTQ4SfCvOMgkSUm5_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page5-list-item-container5">
        <div id="page5-markdown7" class="show-list-numbers-and-dots"></div>
      </div>
      <ion-item class="item-icon-left assertive" id="page5-list-item52">
        <i class="icon ion-music-note"></i>最近演奏した作品</ion-item>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="page5-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="page5-slide27" style="background:url(&quot;img/lsfvKTuvTWykuligOeDz_.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide28" style="background:url(&quot;img/Ot1nBvRT0m3eHAz26iCa_.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide29" style="background:url(&quot;img/xnxSfxISKqWMeL57mQoQ_.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <a ui-sref="menu.matchingResult()" id="page5-button41" class="button button-positive button-small button-block">マッチングする</a>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <h3 id="page5-heading21" style="color:#000000;text-align:center;">使用者グラフ</h3>
    <div>
      <img src="img/0bYL3pJLSHSP7MR6WZyu_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page5-button42" class="button button-positive button-small button-block">変更する</button>
  </ion-content>
</ion-view>