<ion-view title="슈비슈비코코밤" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="page15-container13">
      <div>
        <img src="img/KifYow9yT6jn2gFxAghd_trumbon_icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <ion-list id="page15-list41">
      <ion-item id="page15-list-item43">길드명 : 슈비슈비코코밤</ion-item>
      <ion-item id="page15-list-item44">마스터 : Center</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <div id="page15-container14">
      <h2 id="page15-heading12" style="color:#000000;text-align:center;">길드 소개글</h2>
      <form id="page15-form8" class="list">
        <label class="item item-input guild-textarea" id="page15-textarea3">
          <span class="input-label">E사모(EXO를 사랑하는모임)</span><textarea placeholder=""></textarea></label>
      </form>
    </div>
    <div id="page15-button-bar9" class="button-bar">
      <button id="page15-button36" class="button button-positive button-block">길드 가입 신청</button>
    </div>
  </ion-content>
</ion-view>