<ion-view title="Test" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="test-container11">
      <div>
        <img src="img/kecJwPXXSK20LJQvsMYz_microphone.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <ion-list id="test-list40">
      <ion-item id="test-list-item41">길드명 : Test</ion-item>
      <ion-item id="test-list-item42">마스터 : God</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <div id="test-container12">
      <h2 id="test-heading11" style="color:#000000;text-align:center;">길드 소개글</h2>
      <form id="test-form7" class="list">
        <label class="item item-input guild-textarea" id="test-textarea2">
          <span class="input-label">Record전문 길드입니다.</span><textarea placeholder=""></textarea></label>
      </form>
    </div>
    <div id="test-button-bar8" class="button-bar">
      <button id="test-button35" class="button button-positive button-block">길드 가입 신청</button>
    </div>
  </ion-content>
</ion-view>