<ion-view title="音Ven" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="Ven-button-bar2" class="button-bar">
      <button id="Ven-button8" class="button button-positive button-block">週間 100</button>
      <button id="Ven-button9" class="button button-positive button-block">月間 100</button>
      <button id="Ven-button10" class="button button-positive button-block">レジェンド</button>
    </div>
    <form id="Ven-form5" class="list">
      <label class="item item-select" id="Ven-select3">
        <span class="input-label">選択</span>
        <select>
          <option>全体</option>
          <option>映像だけ</option>
        </select>
      </label>
    </form>
    <div id="Ven-container8">
      <ion-list id="Ven-list21">
        <ion-item class="item-thumbnail-left assertive" id="Ven-list-item28" ui-sref="menu.Video()">
          <img src="img/brj729EfQXSAUSAhT8tA__.PNG">
          <h2assertive>1 레드벨벳-빨간 맛
            <p style="white-space:normal;">앗! 보라색 맛 났어!</p>
          </h2assertive>
        </ion-item>
        <ion-item class="item-thumbnail-left assertive" id="Ven-list-item12">
          <img src="img/py3DcCFSSieTEYuosfaw__.PNG">
          <h2assertive>2 헤이즈-비도 오고 그래서
            <p style="white-space:normal;">여름 장마철에 분위기있게!</p>
          </h2assertive>
        </ion-item>
        <ion-item class="item-thumbnail-left assertive" id="Ven-list-item29">
          <img src="img/jGmvPyOReyXzjz3uH4Qg_-Artist.PNG">
          <h2assertive>3 Zico-Artist
            <p>지아코 아티스트!</p>
          </h2assertive>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>