<ion-view title="게시글보기-Video" id="page8">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="Video-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h3 id="Video-heading7" style="color:#000000;">레드벨벳-빨간 맛</h3>
    <h4 id="Video-heading8" style="color:#000000;">사랑하는 사람에게 불러주고픈</h4>
    <ion-list id="Video-list26">
      <ion-item class="item-avatar" id="Video-list-item16">
        <h2>조나훔</h2>
        <p>우와 레드벨벳 신곡이댱@@</p>
      </ion-item>
    </ion-list>
    <ion-list id="Video-list27">
      <ion-item class="item-avatar" id="Video-list-item17">
        <h2>주성민</h2>
        <p>난 노란색이 더 좋은데..</p>
      </ion-item>
    </ion-list>
    <button id="Video-button12" style="border-radius:-1px -1px -1px -1px;" class="button button-positive button-small button-block button-outline">합주하기</button>
    <h4 id="Video-heading9" style="color:#000000;">댓글</h4>
    <ion-list id="Video-list28">
      <ion-item class="item-avatar" id="Video-list-item22">
        <h2>박현경</h2>
        <p>댓글 1입니다.</p>
      </ion-item>
      <ion-item class="item-avatar" id="Video-list-item23">
        <h2>장민호</h2>
        <p>끼룩?</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>